{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}
    
{% block content %}

                <div class="p-3">
                    <h4 class="text-muted font-size-18 mb-1 text-center">Welcome Back !</h4>
                    <p class="text-muted text-center">Sign in to continue to Lexa.</p>
                    <form class="needs-validation" novalidate method="POST" action="{% url 'account_login' %}">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} mb-4" role="alert">
                            <strong>{{ message }}</strong>
                        </div>
                        {% endfor %} 
                        {% if field.help_text %}
                            <div class="alert alert-danger mb-4" role="alert">
                                <strong>{{ field.help_text }}</strong>
                            </div>
                        {% endif %}
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.login|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.password|as_crispy_field }}
                        </div>
                        <div class="mb-3 row mt-4">
                            <div class="col-6">
                                <div class="form-check">
                                    {{ form.remember|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-4">
                                <a href="{% url 'account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                            </div>
                        </div>

                        <div class="mt-4 pt-2 text-center">
                            <div class="signin-other-title">
                                <h5 class="fs-sm mb-4 title">Sign In with</h5>
                            </div>
                            <div>
                                <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-icon waves-effect waves-light"><i class="mdi mdi-google fs-lg"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p>Don't have an account ? <a href="{{ signup_url }}" class="text-primary"> Signup Now </a></p>
            © <script>document.write(new Date().getFullYear())</script> Lexa <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.</span>
        </div>

{% endblock content %}
