{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
                            
        <div class="mt-4 text-center">
            <h4>{% trans "Change Password" %}</h4>
            {% for message in messages %}
            <div class="alert {{ message.tags }} mb-4" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %} 
            <p class="text-muted mx-4">{% trans 'Your password is now changed.' %}</p>
            <div class="mt-4">
                <a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary w-100">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    