{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset Done" %}{% endblock title %}

{% block content %}
                    
            <div class="mt-5 text-center">
                <h4>{% trans "Password Reset" %}</h4> 
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-muted mx-4">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                <div class="mt-5">
                    <a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary w-100">Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
                    
{% endblock content %}
    