{% load static %}
{% block horizontal %}

<header id="page-topbar">
    <div class="navbar-header">
        <div class="container-fluid">
            <div class="float-start">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-dark.png' %}" alt="" height="19">
                        </span>
                    </a>
    
                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-light.png' %}" alt="" height="19">
                        </span>
                    </a>
                </div>
    
                <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
    
            <div class="float-end">
    
                <!-- App Search-->
                <form class="app-search d-none d-lg-inline-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="fa fa-search"></span>
                    </div>
                </form>

                <div class="dropdown d-none d-lg-inline-block ms-2">
                    <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="me-2" src="{% static 'images/flags/us_flag.jpg' %}" alt="Header Language" height="16"> English <span class="mdi mdi-chevron-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="{% static 'images/flags/germany_flag.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle"> German </span>
                        </a>
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="{% static 'images/flags/italy_flag.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Italian </span>
                        </a>
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="{% static 'images/flags/french_flag.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle"> French </span>
                        </a>
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="{% static 'images/flags/spain_flag.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Spanish </span>
                        </a>
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="{% static 'images/flags/russia_flag.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Russian </span>
                        </a>
                    </div>
                </div>
    
                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="mdi mdi-fullscreen font-size-24"></i>
                    </button>
                </div>
    
                <div class="dropdown d-inline-block d-lg-none ms-2">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
    
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                
    
                <div class="dropdown d-inline-block ms-1">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-bell"></i>
                        <span class="badge bg-danger rounded-pill">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                        aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="m-0"> Notifications (258) </h5>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                        <span class="avatar-title border-success rounded-circle ">
                                            <i class="mdi mdi-cart-outline"></i>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
    
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="mdi mdi-message"></i>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
    
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                        <span class="avatar-title border-info rounded-circle ">
                                            <i class="mdi mdi-glass-cocktail"></i>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your item is shipped</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">It is a long established fact that a reader will</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
    
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                        <span class="avatar-title border-primary rounded-circle ">
                                            <i class="mdi mdi-cart-outline"></i>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
    
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="mdi mdi-message"></i>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top">
                            <a class="btn btn-sm btn-link font-size-14 w-100 text-center" href="javascript:void(0)">
                                View all
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="{% static 'images/users/user-4.jpg' %}"
                            alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle font-size-17 text-muted align-middle me-1"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet font-size-17 text-muted align-middle me-1"></i> My Wallet</a>
                        <a class="dropdown-item d-flex align-items-center" href="#"><i class="mdi mdi-cog font-size-17 text-muted align-middle me-1"></i> Settings<span class="badge bg-success ms-auto">11</span></a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline font-size-17 text-muted align-middle me-1"></i> Lock screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> Logout</a>
                    </div>
                </div>
    
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="mdi mdi-spin mdi-cog"></i>
                    </button>
                </div>
    
            </div>
        </div>
    </div>


    <div class="top-navigation">
        <div class="page-title-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    {% comment %} <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4>{{title}}</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">{{pagetitle}}</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">{{subtitle}}</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-sm-6">
                        <div class="state-information d-none d-sm-block">
                            <div class="state-graph float-end">
                                <div id="header-chart-1" data-colors='["--bs-primary"]'></div>
                                <div class="info">Balance $ 2,317</div>
                            </div>
                            <div class="state-graph">
                                <div id="header-chart-2" data-colors='["--bs-info"]'></div>
                                <div class="info">Item Sold 1230</div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                <!-- end page title -->
            </div>
        </div>

        <div class="container-fluid ">
            <div class="topnav ">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu ">

                    <div class="collapse navbar-collapse justify-content-center" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            {% comment %} my items {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                                    <i class="ti-dashboard"></i>Dashboard
                                </a>
                            </li>
                        {% comment %} 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                                    <i class="ti-dashboard"></i>Nos Services
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                                    <i class="ti-dashboard"></i>A propos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                                    <i class="ti-dashboard"></i>Conctact    
                                </a>
                            </li> {% endcomment %}









                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-email" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-email"></i>Email 
                                </a>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-email">
                                    <a href="{% url 'dashboard:email.email_inbox' %}" class="dropdown-item">Inbox</a>
                                    <a href="{% url 'dashboard:email.email_read' %}" class="dropdown-item">Email Read</a>
                                    <a href="{% url 'dashboard:email.email_compose' %}" class="dropdown-item">Email Compose</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-support"></i>UI Elements 
                                </a>

                                <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl"
                                    aria-labelledby="topnav-components">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div>
                                            <a href="{% url 'components:ui-elements.alerts' %}" class="dropdown-item">Alerts</a>
                                            <a href="{% url 'components:ui-elements.buttons' %}" class="dropdown-item">Buttons</a>
                                            <a href="{% url 'components:ui-elements.badge' %}" class="dropdown-item">Badge</a>
                                            <a href="{% url 'components:ui-elements.cards' %}" class="dropdown-item">Cards</a>
                                            <a href="{% url 'components:ui-elements.carousel' %}" class="dropdown-item">Carousel</a>
                                            <a href="{% url 'components:ui-elements.dropdowns' %}" class="dropdown-item">Dropdowns</a>
                                            <a href="{% url 'components:ui-elements.utilities' %}" class="dropdown-item">Utilities</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div>
                                            <a href="{% url 'components:ui-elements.grid' %}" class="dropdown-item">Grid</a>
                                            <a href="{% url 'components:ui-elements.images' %}" class="dropdown-item">Images</a>
                                            <a href="{% url 'components:ui-elements.lightbox' %}" class="dropdown-item">Lightbox</a>
                                            <a href="{% url 'components:ui-elements.offcanvas' %}" class="dropdown-item">Offcanvas</a>
                                            <a href="{% url 'components:ui-elements.modals' %}" class="dropdown-item">Modals</a>
                                            <a href="{% url 'components:ui-elements.colors' %}" class="dropdown-item">Colors</a>
                                            <a href="{% url 'components:ui-elements.pagination' %}" class="dropdown-item">Pagination</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div>
                                            <a href="{% url 'components:ui-elements.popover_tooltips' %}" class="dropdown-item">Popover &amp; Tooltips</a>
                                            <a href="{% url 'components:ui-elements.progressbars' %}" class="dropdown-item">Progress Bars</a>
                                            <a href="{% url 'components:ui-elements.sweet_alert' %}" class="dropdown-item">Sweet-Alert</a>
                                            <a href="{% url 'components:ui-elements.tabs_accordions' %}" class="dropdown-item">Tabs &amp; Accordions</a>
                                            <a href="{% url 'components:ui-elements.typography' %}" class="dropdown-item">Typography</a>
                                            <a href="{% url 'components:ui-elements.video' %}" class="dropdown-item">Video</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-forms" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-receipt"></i>Forms 
                                </a>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-forms">
                                        <a href="{% url 'components:forms.elements' %}" class="dropdown-item">Form Elements</a>
                                        <a href="{% url 'components:forms.validation' %}" class="dropdown-item">Form Validation</a>
                                        <a href="{% url 'components:forms.advanced' %}" class="dropdown-item">Form Advanced</a>
                                        <a href="{% url 'components:forms.editors' %}" class="dropdown-item">Form Editors</a>
                                        <a href="{% url 'components:forms.uploads' %}" class="dropdown-item">Form File Upload</a>
                                        <a href="{% url 'components:forms.xeditable' %}" class="dropdown-item">Form Xeditable</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-menu-alt"></i>More
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-more">
                                    <a href="{% url 'dashboard:calendar' %}" class="dropdown-item">Calendar</a>
                                    <a href="{% url 'dashboard:chat' %}" class="dropdown-item">Chat</a>
                                    <a href="{% url 'dashboard:kanbanboard' %}" class="dropdown-item">Kanban Board</a>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Icons <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                        <a href="{% url 'components:icons.material' %}" class="dropdown-item">Material Design</a>
                                        <a href="{% url 'components:icons.ion' %}" class="dropdown-item">Ion Icons</a>
                                        <a href="{% url 'components:icons.fontawesome' %}" class="dropdown-item">Font Awesome</a>
                                        <a href="{% url 'components:icons.themify' %}" class="dropdown-item">Themify Icons</a>
                                        <a href="{% url 'components:icons.dripicons' %}" class="dropdown-item">Dripicons</a>
                                        <a href="{% url 'components:icons.typicons' %}" class="dropdown-item">Typicons Icons</a>
                                        </div>
                                    </div>


                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-tables"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tables <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                            <a href="{% url 'components:tables.basic' %}" class="dropdown-item">Basic Tables</a>
                                            <a href="{% url 'components:tables.datatable' %}" class="dropdown-item">Data Table</a>
                                            <a href="{% url 'components:tables.responsive' %}" class="dropdown-item">Responsive Table</a>
                                            <a href="{% url 'components:tables.editable' %}" class="dropdown-item">Editable Table</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-maps"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Maps <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                            <a href="{% url 'components:maps.google' %}" class="dropdown-item"> Google Map</a>
                                            <a href="{% url 'components:maps.vector' %}" class="dropdown-item"> Vector Map</a>
                                        </div>
                                    </div>


                                <a href="{% url 'components:ui-elements.rangeslider' %}" class="dropdown-item">Range Slider</a>
                                <a href="{% url 'components:ui-elements.session_timeout' %}" class="dropdown-item">Session Timeout</a>


                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-pie-chart"></i>Charts 
                                </a>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                <a href="{% url 'components:charts.morris' %}" class="dropdown-item">Morris Chart</a>
                                <a href="{% url 'components:charts.chartist' %}" class="dropdown-item">Chartist Chart</a>
                                <a href="{% url 'components:charts.chartjs' %}" class="dropdown-item">Chartjs Chart</a>
                                <a href="{% url 'components:charts.flot' %}" class="dropdown-item">Flot Chart</a>
                                <a href="{% url 'components:charts.c3' %}" class="dropdown-item">C3 Chart</a>
                                <a href="{% url 'components:charts.other' %}" class="dropdown-item">Jquery Knob Chart</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-support"></i>Pages 
                                </a>

                                <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-lg dropdown-menu-right"
                                    aria-labelledby="topnav-pages">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div>
                                            <a href="{% url 'extras:extra-pages.timeline' %}" class="dropdown-item">Timeline</a>
                                            <a href="{% url 'extras:extra-pages.invoice' %}" class="dropdown-item">Invoice</a>
                                            <a href="{% url 'extras:extra-pages.directory' %}" class="dropdown-item">Directory</a>
                                            <a href="{% url 'extras:authentication.pages_login' %}" class="dropdown-item">Login</a>
                                            <a href="{% url 'extras:authentication.register' %}" class="dropdown-item">Register</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div>
                                            <a href="{% url 'extras:authentication.recover_password' %}" class="dropdown-item">Recover Password</a>
                                            <a href="{% url 'extras:authentication.lock_screen' %}" class="dropdown-item">Lock Screen</a>
                                            <a href="{% url 'extras:extra-pages.blank_page' %}" class="dropdown-item">Blank Page</a>
                                            <a href="{% url 'extras:extra-pages.error404' %}" class="dropdown-item">Error 404</a>
                                            <a href="{% url 'extras:extra-pages.error500' %}" class="dropdown-item">Error 500</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-tablet"></i>Layouts
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-verti"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Vertical <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-layout-verti">
                                            <a href="{% url 'extras:layouts.vertical.light_sidebar' %}" class="dropdown-item">Light Sidebar</a>
                                            <a href="{% url 'extras:layouts.vertical.compact_sidebar' %}" class="dropdown-item">Compact Sidebar</a>
                                            <a href="{% url 'extras:layouts.vertical.icon_sidebar' %}" class="dropdown-item">Icon Sidebar</a>
                                            <a href="{% url 'extras:layouts.vertical.boxed' %}" class="dropdown-item">Boxed Layout</a>
                                            <a href="{% url 'extras:layouts.vertical.preloader' %}" class="dropdown-item">Preloader</a>
                                            <a href="{% url 'extras:layouts.vertical.colored_sidebar' %}" class="dropdown-item">Colored Sidebar</a>
                                        </div>
                                    </div>
        
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-hori"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Horizontal <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-layout-hori">
                                            <a href="{% url 'extras:layouts.horizontal.horizontal' %}" class="dropdown-item">Horizontal</a>
                                            <a href="{% url 'extras:layouts.horizontal.hori_topbar_dark' %}" class="dropdown-item">Topbar Dark</a>
                                            <a href="{% url 'extras:layouts.horizontal.preloader' %}" class="dropdown-item">Preloader</a>
                                            <a href="{% url 'extras:layouts.horizontal.hori_boxed_width' %}" class="dropdown-item">Boxed Layout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

   
</header>

{% endblock horizontal %}
    