{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Vector Map {% endblock title %}

{% block extra_css %}

    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" /> 
        
{% endblock extra_css %}

{% block content %} 
        
    {% block pagetitle %}
    {% include "partials/page-title.html" with pagetitle="Lexa" subtitle="Maps" title="Vector Map"%}
    {% endblock pagetitle %}

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">World Map</h4>
                                        <p class="card-title-desc">Example of vector map.</p>

                                        <div id="world-map-markers" style="height: 400px"></div>

                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">USA Map</h4>
                                        <p class="card-title-desc">Example of vector map.</p>

                                        <div id="usa" style="height: 400px"></div>

                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">UK Map</h4>
                                        <p class="card-title-desc">Example of vector map.</p>

                                        <div id="uk" style="height: 400px"></div>

                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Chicago Map</h4>
                                        <p class="card-title-desc">Example of vector map.</p>

                                        <div id="chicago" style="height: 400px"></div>

                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
{% endblock content %}

{% block extra_javascript %}

    <!-- Plugins js-->
    <script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-in-mill-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-il-chicago-mill-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-uk-mill-en.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-ca-lcc-en.js' %}"></script>

    <!-- Init js-->
    <script src="{% static 'js/pages/vector-maps.init.js' %}"></script>

{% endblock extra_javascript %}
